:root {
  --floating-action-buttons-spacing: 1rem;
}

.floating-action-buttons {
  position: fixed;
  z-index: 2000;
  right: var(--floating-action-buttons-spacing);
  bottom: var(--floating-action-buttons-spacing);
}
